:INPUT {{item.input|default('ACCEPT')}} [0:0] # {{item.name}} ###ANSIBLE###
:FORWARD {{item.forward|default('ACCEPT')}} [0:0] # {{item.name}} ###ANSIBLE###
:OUTPUT {{item.output|default('ACCEPT')}} [0:0] # {{item.name}} ###ANSIBLE###