#Rule for traffic masquerade. Don't forget to put it after nat_port_forwarding rule
#Example: -A POSTROUTING -s 10.10.10.0/24 -o eno1 -m comment --comment "###ANSIBLE###" -j MASQUERADE
-A POSTROUTING -s {{item.lan_net}} -o {{item.ext_if|default(ansible_default_ipv4.interface)}} -m comment --comment "###ANSIBLE###" -j MASQUERADE