#Allow port forwarding
#Example: -A PREROUTING -d 134.132.164.226/32 -p tcp -m tcp --dport 8080 -j DNAT --to-destination 10.10.10.5
-A PREROUTING --dst {{item.ext_ip|default(ansible_default_ipv4.address)}} -p {{item.proto|default('tcp')}} -m {{item.proto|default('tcp')}} --dport {{item.dport}} -m comment --comment "{{item.name}} ###ANSIBLE###" -j {{item.target|default('DNAT')}} --to-destination {{item.lan_ip}}